@model Project.Entities.Post
    <tr>
        <td class="serial">@Model.postId</td>
        <td class="avatar">
            <div class="round-img">
                <a href="#"><img class="rounded-circle" src="~/adminmaster/images/avatar/@Model.postImage" alt=""></a>
            </div>
        </td>
        <td>@Model.postId</td>
        <td>  <span class="name">@Model.postTitle</span> </td>
        <td><span class="count">231</span></td>
        <td><span class="count">231</span></td>
        <td>
            <span class="badge badge-complete">Detail</span>
        </td>
    </tr>
